:root {
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #ffc107;
  --secundario: #0097a7;
  --gris: #757575;

  --fuente_pricipal: 3.8rem;
  --fuente: "Krub", sans-serif;
}

html {
  font-size: 62.5%; /* IMPORTANTE 1rem = 10px */
  box-sizing: border-box; /*el padding y el border se suman al ancho y alto del elemento */
}

*,
*:before,
*:after {
  box-sizing: inherit; /*hereda el box-sizing del html */
}

body {
  font-size: 16px;
  font-family: var(--fuente);
  font-style: normal;
}

h1 {
  font-size: var(--fuente_pricipal);
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 1.8rem;
}

h1, h2, h3 {
  text-align: center;
}

.titulo {
  color: var(--oscuro);
  font-style: normal;
  font-weight: 700; /*Negrita*/
}

.titulo span {
  font-size: 2rem;
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto; /* vertical 0 y lateral centrado con auto */
}

.boton {
  background-color: var(--secundario);
  text-decoration: none;
  color : var(--blanco);
  font-weight: bold;
  border-radius: 5px;
  padding: 1rem 3rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  width: 90%;  /*el ancho del botón es el 90% del contenedor padre */
  /*El width se aplica en pantallas pequeñas */
  text-align: center;
}

@media (min-width: 390px) {
  .boton {
    width: auto; /*el ancho del botón se ajusta al contenido */
  }
}

.nav-bg {
  background-color: var(--secundario);
}

.navegacion-principal {
  /* margin: 10rem;  margin es del elemento hacia afuera */
  display: flex; /*flex es para alinear elementos en fila o columna */
  flex-direction: column; /*columna es para alinear en columna */
}

@media (min-width: 391px) {
  /*desde 0 a 390px se aplican los estilos de arriba */
  .navegacion-principal {
    flex-direction: row; /*fila es para alinear en fila */
    justify-content: space-between; /*centra elementos horizontalmente */
  }
}

.navegacion-principal a {
  display: block; /*block es para que el enlace ocupe todo el ancho posible */
  text-align: center; /*centra elementos verticalmente */
  color: var(--blanco);
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem; /*padding es engordar el elemento */
}

.navegacion-principal a:hover {
  /*hover es cuando pasamos el mouse por el enlace*/
  background-color: var(--primario);
  color: var(--oscuro);
}

/*siginifica que a partir de 390px se aplican los estilos */
/* @media (min-width: 390px) {  
    body{
      background-color: blue;
    }
} */

.hero {
  background-image: url(/imagenes/hero.jpg);
  background-repeat: no-repeat; /*la imagen no se repite */
  background-size: cover; /*la imagen cubre todo el contenedor */
  height: 450px; /*conserva la proporción de la imagen */
  position: relative; /*posiciona el elemento respecto a su posición normal */
}

.contenido-hero {
  position: absolute; /*posiciona el elemento respecto al primer padre que tenga position relative */
  background-color: rgb(0 0 0 / 70%); /*color de fondo con transparencia */
  width: 100%;
  height: 100%;
  /*Alinear el contenido tanto vertical como horizontalmente*/
  display: flex;
  flex-direction: column;
  align-items: center; /*centra verticalmente*/
  justify-content: center; /*centra horizontalmente*/
  color: var(--blanco);
}

.ubicacion {
  display: flex;  /*flex es para alinear elementos en fila o columna */
  align-items: baseline;  /*alinear elementos por la línea base del texto */
}

.ubicacion svg {
  width: 70px;
  height: 70px;
}

