:root {
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #ffc107;
  --secundario: #0097a7;
  --gris: #757575;

  --fuente_pricipal: 3.8rem;
  --fuente: "Krub", sans-serif;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: var(--fuente);
  font-style: normal;
}

.titulo {
  color: var(--oscuro);
  text-align: center;
  font-size: var(--fuente_pricipal);
  font-style: normal;
  font-weight: 700; /*Negrita*/
}

.titulo span {
  font-size: 2rem;
}
