html {
    font-size: 62.5%;  /* 1rem = 10px */
}


body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.titulo {
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 3.8rem;
}

.titulo span {
    font-size: 2rem;
}
