:root {
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #ffc107;
  --secundario: #0097a7;
  --gris: #757575;

  --fuente_pricipal: 3.8rem;
  --fuente: "Krub", sans-serif;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-size: 16px;
  font-family: var(--fuente);
  font-style: normal;
}

.titulo {
  color: var(--oscuro);
  text-align: center;
  font-size: var(--fuente_pricipal);
  font-style: normal;
  font-weight: 700; /*Negrita*/
}

.titulo span {
  font-size: 2rem;
}

.contenedor {
  width: 120rem;
  margin: 0 auto;  /* vertical 0 y lateral centrado con auto */
}

.nav-bg {
  background-color: var(--secundario);
}

.navegacion-principal {
}

.navegacion-principal a {
  background-color: var(--primario);
}