:root {
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #ffc107;
  --secundario: #0097a7;
  --gris: #757575;
  --gris_claro: #dfe9f3;
  --fuente_pricipal: 3.8rem;
  --fuente: "Krub", sans-serif;
}

html {
  font-size: 62.5%;
  /* IMPORTANTE 1rem = 10px */
  box-sizing: border-box;
  /*el padding y el border se suman al ancho y alto del elemento */
  scroll-snap-type: y mandatory; /*para que la pagina se desplace por secciones */
}

/*Scroll Snap*/
.servicios,
.navegacion-principal,
.formulario,
.titulo,
.footer{  /*para que se muestre en todas las secciones sin que se quede parado en una sola*/
  scroll-snap-align: center; /*para que la sección de servicios se centre al hacer scroll */
  scroll-snap-stop: always; /*para que la sección de servicios se detenga al hacer scroll */
}

*,
*:before,
*:after {
  box-sizing: inherit;
  /*hereda el box-sizing del html */
}

body {
  /*El body es la parte visible de la página web */
  font-size: 16px;
  font-family: var(--fuente);
  font-style: normal;
  background-image: linear-gradient(
      to top,
      var(--gris_claro) 0%,
      var(--blanco) 100%
    ),
    url(/imagenes/fondo.jpg);
}

.sombra {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.54);
  -moz-box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.54);
  box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.54);
  background-color: var(--blanco);
  padding: 2rem;
  border-radius: 3rem;
}

h1 {
  font-size: var(--fuente_pricipal);
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 1.8rem;
}

h1,
h2,
h3 {
  text-align: center;
}

.titulo {
  color: var(--oscuro);
  font-style: normal;
  font-weight: 700;
  /*Negrita*/
}

.titulo span {
  font-size: 2rem;
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
  /* vertical 0 y lateral centrado con auto */
}

.boton {
  background-color: var(--secundario);
  text-decoration: none;
  color: var(--blanco);
  font-weight: bold;
  border-radius: 5px;
  padding: 1rem 3rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  width: 90%;
  /*el ancho del botón es el 90% del contenedor padre */
  /*El width se aplica en pantallas pequeñas */
  text-align: center;
  border: none; /*quita el borde del botón */
}

.boton:hover {
  cursor: pointer;
  background-color: var(--primario);
  color: var(--oscuro);
}

@media (min-width: 390px) {
  .boton {
    width: auto;
    /*el ancho del botón se ajusta al contenido */
  }
}

/*Utilidades*/
.w-100 {
  width: 100%;
  margin-top: 4rem;
}

@media (min-width: 780px) {
  .w-100 {
    width: auto;
}
}

.flex {
  display: flex;
}

.alinear-derecha {
  justify-content: flex-end;
}


.nav-bg {
  background-color: var(--secundario);
}

.navegacion-principal {
  /* margin: 10rem;  margin es del elemento hacia afuera */
  display: flex;
  /*flex es para alinear elementos en fila o columna */
  flex-direction: column;
  /*columna es para alinear en columna */
}

@media (min-width: 391px) {
  /*desde 0 a 390px se aplican los estilos de arriba */
  .navegacion-principal {
    flex-direction: row;
    /*fila es para alinear en fila */
    justify-content: space-between;
    /*centra elementos horizontalmente */
  }
}

.navegacion-principal a {
  display: block;
  /*block es para que el enlace ocupe todo el ancho posible */
  text-align: center;
  /*centra elementos verticalmente */
  color: var(--blanco);
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem;
  /*padding es engordar el elemento */
}

.navegacion-principal a:hover {
  /*hover es cuando pasamos el mouse por el enlace*/
  background-color: var(--primario);
  color: var(--oscuro);
}

/*siginifica que a partir de 390px se aplican los estilos */
/* @media (min-width: 390px) {  
    body{
      background-color: blue;
    }
} */

.hero {
  background-image: url(/imagenes/hero.jpg);
  background-repeat: no-repeat;
  /*la imagen no se repite */
  background-size: cover;
  /*la imagen cubre todo el contenedor */
  height: 450px;
  /*conserva la proporción de la imagen */
  position: relative;
  /*posiciona el elemento respecto a su posición normal */
  margin-bottom: 2rem;
}

.contenido-hero {
  position: absolute;
  /*posiciona el elemento respecto al primer padre que tenga position relative */
  background-color: rgb(0 0 0 / 70%);
  /*color de fondo con transparencia */
  width: 100%;
  height: 100%;
  /*Alinear el contenido tanto vertical como horizontalmente*/
  display: flex;
  flex-direction: column;
  align-items: center;
  /*centra verticalmente*/
  justify-content: center;
  /*centra horizontalmente*/
  color: var(--blanco);
}

.ubicacion {
  display: flex;
  /*flex es para alinear elementos en fila o columna */
  align-items: baseline;
  /*alinear elementos por la línea base del texto */
}

.ubicacion svg {
  stroke: var(--primario);
  /*borde del ícono */
  width: 70px;
  height: 70px;
}

@media (min-width: 200px) {
  /*Se va a ver una sola columna en pantallas pequeñas */
  .servicios {
    display: grid;
    /* grid-template-columns: 300px 300px;  antiguo*/
    /* grid: 200px 800px/ 300px 300px; nuevo */
    /* grid-template-columns: 33.3% 33.33% 33.33%; */
    /*grid-template-columns: 1fr 1fr 1fr;*/
    /*Divide el contenedor en 3 columnas iguales */
    grid-template-columns: repeat(3, 1fr);
    /*Divide el contenedor en 3 columnas iguales */
    column-gap: 1.5rem;
  }
}

.servicios svg {
  /*fill : var(--primario);*/ /*relleno del ícono*/
  stroke: black; /*contorno del ícono */
  /*borde del ícono */
  width: 70px;
  height: 70px;
}

.servicio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.servicio p {
  line-height: 1.2;
  text-align: center;
  margin-left: 1rem;
}

.servicio h3 {
  color: var(--secundario);
  font-weight: 400;
}

.servicio .icono {
  height: 15rem;
  width: 15rem;
  background-color: var(--primario);
  border-radius: 50%;
  display: flex;
  justify-content: space-evenly; /*centra horizontalmente*/
  align-items: center; /*centra verticalmente*/
}

.formulario {
  background-color: var(--gris);
  width: min(60rem,90%); /*El ancho máximo del formulario es 60rem o el 90% del contenedor padre*/
  margin: 0 auto; /*se utiliza para centrar el formulario por que tiene el espcaio disponible */
  padding: 2rem;
  border-radius: 1rem;
}

.formulario fieldset {
  /*Fieldset se usa para agrupar elementos relacionados en un formulario */
  border: none; /*Le quita el borde al fieldset */
}

.formulario legend {
  text-align: center;
  color: var(--primario);
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 2rem;
  width: 100%;  /*se le agrega un width de 100% para que el texto se centre correctamente */
}

@media (min-width: 390px) {
  .contenedor-campos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto 20rem;
    column-gap: 1rem;
  }

  .campo:nth-child(3) ,  /* la coma es para seleccionar otra clase */
  .campo:nth-child(4){  /*nth-child(3) selecciona el tercer campo que comparta la misma clase (empieza desde 1) */
    grid-column: 1 / 3; /*el tercer campo ocupa desde la columna 1 hasta la 3 (ocupa 2 columnas) */
  }
}


.campo {
  margin-bottom: 1rem;
}

.campo textarea {
  height: 20rem;
}

.campo label {
  color: var(--blanco);
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;  /*block es para que el label ocupe todo el ancho posible */
}
/* 
.campo input [type="text"] {  /*[type="text"] es para seleccionar el atributo 
  background-color: red;
} */

.input {
  width: 100%;
  border: none;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.footer {
  text-align: center;
}
